@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-neutral-800;
    height: 100dvh;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* This styles the entire scrollbar (including track and thumb) */
  .allergen::-webkit-scrollbar {
    height: 2px; /* height of the horizontal scrollbar */
    @apply bg-primary-200;
  }

  /* This styles the draggable part of the scrollbar */
  .allergen::-webkit-scrollbar-thumb {
    @apply bg-primary-400;
  }
}

@layer components {
  .cut-layout {
    @apply h-[calc(100dvh-21rem)] lg:h-[calc(100dvh-23rem)];
  }
}
