---
import type {Entry, EntryFieldTypes} from 'contentful';

import {contentfulClient} from '../lib/contentful';

import Layout from '../layouts/Layout.astro';
import FoodMenuMainItem from '@components/FoodMenuMainItem.tsx';

interface MenuItemSkeleton {
  contentTypeId: 'menuItem';
  fields: {
    title: EntryFieldTypes.Text;
    description: EntryFieldTypes.Text;
    price: EntryFieldTypes.Text;
  };
}

interface MenuCategorySkeleton {
  contentTypeId: 'menuCategory';
  fields: {
    title: EntryFieldTypes.Text;
    order: EntryFieldTypes.Number;
    menuItems: EntryFieldTypes.Array<EntryFieldTypes.EntryLink<MenuItemSkeleton>>;
  };
}

type Locales = 'en-US' | 'tr-TR';
const entries = await contentfulClient.withAllLocales.getEntries<MenuCategorySkeleton, Locales>({
  content_type: 'menuCategory',
});

console.log(entries.items[0].fields.menuItems['en-US']);
---

<Layout title="Menü">
  <div class="cut-layout overflow-y-auto pr-4 w-full">
    {
      entries.items.map((item, idx) => (
        <FoodMenuMainItem
          client:visible
          mainTitle={item.fields.title['tr-TR']}
          mainTitleEN={item.fields.title['en-US']}
          items={item.fields.menuItems['en-US'].map(menuItem => ({
            title: menuItem.fields.title['tr-TR'],
            titleEN: menuItem.fields.title['en-US'],
            price: menuItem.fields.price,
            description: menuItem.fields.description['tr-TR'],
            descriptionEN: menuItem.fields.description['en-US'],
          }))}
          containerStyles={`${entries.items.length - 1 === idx ? '' : 'mb-8'}`}
        />
      ))
    }
  </div>
</Layout>
