---
import logo from '@assets/icons/logo.svg?url';
---

<a href="/" class="py-2" aria-label="Moji Coffee Shop B端y端kada Logosu">
  <img
    src={logo}
    alt="Moji Coffee Shop B端y端kada Logo"
    loading="lazy"
    class="!w-40 lg:!w-48"
    width="96"
    height="96"
  />
</a>
